.profile__container {
    margin: 130px auto;
	max-width: 600px;
	background: $orange;
	border-radius: $border-radius;
	@include flex-center;
	flex-direction: column;
    padding: 50px;
}

.profile__pic {
    margin-bottom: 20px;
    max-width: 8rem;
    img:nth-child(1) {
        max-width: 100%;
        border-radius: 50%;
    }
    img:nth-child(2) {
        cursor: pointer;
        width: 2rem;
    }
}

.profile__input {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    @include responsive-profile;
    input {
        margin: 1rem;
        padding: 0!important;
        @include btn-style;
        @include flex-center;
    }
    input:nth-child(2) {
        text-align: center;
        background-color: #242424!important;
    }
}