.profile__preview {
	position: absolute;
	background: $orange;
    opacity: 0.7;
    border-radius: $border-radius;
	width: 250px;
    height: 80px;
	top: 23px;
	right: 150px;
    .preview__img {
        width: 30%;
        img {
            width: 100%;
        }
    }
    .preview__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        &__user {

        }
        &__link {
            width: 100%;
            text-align: end;
        }
    }
}
