.post__container {
	max-width: 900px;
	margin: 50px auto;
	li {
		margin: 2rem;
		border-radius: $border-radius;
		border: 2px solid $orange;
		max-width: 900px;
		min-height: 250px;
		background-color: $blue-op;
		color: white;
		font-weight: bold;
	}
	.about__post {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		img {
			max-width: 4rem;
			border-radius: 30px;
		}
		.user__id {
			font-size: 18px;
		}
	}
	.info__container {
		display: flex;
		align-items: center;
		p {
			padding-left: 15px;
		}
	}
	.content__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		.info__text {
			margin-left: 30px;
		}
		.pic__container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 450px;
			padding: 20px;
			img {
				object-fit: contain;
				height: 100%;
				width: 100%;
			}
		}
	}
}
