.post__container {
	max-width: 900px;
	margin: 50px auto;
	li {
		margin: 2rem 2rem 5rem 2rem;
		border-radius: $border-radius;
		max-width: 900px;
		min-height: 250px;
		background-color: $blue-op;
		color: white;
		font-weight: bold;
		box-shadow: 0 0 13px #555;
	}
	.new__post {
		width: 100%;
		background: transparent;
		color: $white;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		font-size: 16px;
		margin-left: 15px;
		cursor: pointer;
		&:focus {
			border: 0.5px solid $white;
			border-radius: $border-radius;
		}
	}
	.about__post {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		img {
			width: 4rem;
			border-radius: 50%;
			object-fit: contain;
		}
		.user__id {
			font-size: 18px;
		}
		.trash__container {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			padding-top: 10px;
			img {
				margin-bottom: 5px;
				width: 1.5rem;
				cursor: pointer;
			}
		}
	}
	.info__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		p {
			padding-left: 15px;
		}
	}
	.content__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 15px;
		button {
			background: $red-wcag;
			color: $white;
			width: 6rem;
			margin-top: 15px;
			border-radius: 2rem;
			font-weight: bold;
			padding: 0.5rem;
			font-size: 0.8rem;
			border: none;
			cursor: pointer;
			transition: opacity, box-shadow 0.7s ease-in-out;
			&:hover {
				opacity: 0.8;
			}
		}
		.info__text {
			margin-left: 15px;
		}
		.pic__container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 450px;
			padding: 20px;
			border-radius: 50px;
			img {
				object-fit: contain;
				height: 100%;
				width: 100%;
				filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3))
					drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
			}
		}
	}
}
