@mixin btn-style {
	background: $blue;
	border-radius: 2rem;
	padding: 0.9rem;
	width: 12.5rem;
	font-size: 0.9rem;
	font-weight: 600;
	color: $white;
	border: none;
	cursor: pointer;
	transition: opacity, box-shadow 0.7s ease-in-out;
	&:hover {
		opacity: 0.8;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin responsive-profile {
	@media screen and (max-width: 430px) {
		display: flex;
		flex-direction: column;
	}
}

@mixin header-hidden {
	@media screen and (max-width: 700px) {
		display: none;
	}
}

@mixin header-visible {
	@media screen and (max-width: 700px) {
		display: visible;
	}
	@media screen and (min-width: 700px) {
		display: none;
	}
}
