@mixin btn-style {
	background: $blue;
	border-radius: 2rem;
	padding: 0.9rem;
	width: 12.5rem;
	font-size: 0.9rem;
	font-weight: 600;
	color: $white;
	border: none;
	cursor: pointer;
	transition: opacity, box-shadow 0.7s ease-in-out;
	&:hover {
		opacity: 0.80;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}