$white: #f0f2f5;
// $orange: #d86747;
$orange: #d1515a;
$red-wcag: #95282F;
$white-wcag: #ffff;
$beige: #faedd8;
// $blue: #22444f;
$blue: #091f43;
$blue-op: rgba(9, 31, 67, 0.8);
$border-radius: 6px;
