*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background: #f0f2f5;
  font-family: "Raleway", sans-serif;
}

input, input:focus {
  border: none;
  outline: none;
}

header {
  width: 100%;
  background: #091f43;
  position: relative;
  min-height: 128px;
}
header .container__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container__img img:nth-child(1) {
  cursor: pointer;
  width: 35rem;
  margin-left: -3.5rem;
}
@media screen and (max-width: 750px) {
  header .container__img img:nth-child(1) {
    display: none;
  }
}
header .container__img img:nth-child(2) {
  width: 8rem;
}
@media screen and (max-width: 750px) {
  header .container__img img:nth-child(2) {
    display: visible;
  }
}
@media screen and (min-width: 750px) {
  header .container__img img:nth-child(2) {
    display: none;
  }
}
header .disconnect {
  position: absolute;
  right: 50px;
  top: 45px;
  cursor: pointer;
}
@media screen and (max-width: 415px) {
  header .disconnect {
    top: 20px;
  }
}
header .disconnect img {
  width: 2.5rem;
}
header .arrow {
  position: absolute;
  left: 50px;
  top: 45px;
  cursor: pointer;
}
header .arrow img {
  width: 2.5rem;
}
header .profile__preview {
  position: absolute;
  right: 100px;
  top: 38px;
  cursor: pointer;
}
@media screen and (max-width: 415px) {
  header .profile__preview {
    top: 63px;
    right: 42px;
  }
}
header .profile__preview img {
  width: 3.5rem;
}

.auth__form {
  margin: 130px auto;
  max-width: 600px;
  background: #d1515a;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.auth__form ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
.auth__form ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #091f43;
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f0f2f5;
  border: none;
  cursor: pointer;
  transition: opacity, box-shadow 0.7s ease-in-out;
}
.auth__form ul li:hover {
  opacity: 0.8;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form label {
  margin-bottom: -1rem;
  font-weight: bold;
}
form input {
  border: none;
  height: 30px;
  width: 250px;
  outline: none;
  font-size: 16px;
  padding-left: 6px;
  border-radius: 6px;
  font-weight: bold;
}
form div {
  margin-top: 5px;
}
form .submit__btn {
  background: #091f43;
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f0f2f5;
  border: none;
  cursor: pointer;
  transition: opacity, box-shadow 0.7s ease-in-out;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
form .submit__btn:hover {
  opacity: 0.8;
}

.btn__active {
  opacity: 0.3;
}

.container__global {
  position: relative;
}

.profile__container {
  margin: 130px auto;
  max-width: 600px;
  background: #d1515a;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.profile__pic {
  margin-bottom: 20px;
  max-width: 8rem;
}
.profile__pic img:nth-child(1) {
  max-width: 100%;
  border-radius: 50%;
}
.profile__pic img:nth-child(2) {
  cursor: pointer;
  width: 2rem;
}

.profile__input {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
@media screen and (max-width: 430px) {
  .profile__input {
    display: flex;
    flex-direction: column;
  }
}
.profile__input input {
  margin: 1rem;
  padding: 0 !important;
  background: #091f43;
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f0f2f5;
  border: none;
  cursor: pointer;
  transition: opacity, box-shadow 0.7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__input input:hover {
  opacity: 0.8;
}
.profile__input input:nth-child(2) {
  text-align: center;
  background-color: #242424 !important;
}

.postbar__container {
  background: #d1515a;
  max-width: 800px;
  margin: 30px auto;
  height: 200px;
  border-radius: 6px;
  position: relative;
}
.postbar__container .input__post {
  width: 70%;
  height: 100px;
  border-radius: 6px;
  text-align: top;
  resize: none;
  font-size: 16px;
  padding: 4px;
}
.postbar__container .input__submit {
  background: #091f43;
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f0f2f5;
  border: none;
  cursor: pointer;
  transition: opacity, box-shadow 0.7s ease-in-out;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.postbar__container .input__submit:hover {
  opacity: 0.8;
}
.postbar__container .input__file {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  right: 25px;
}

.add__comment {
  border-bottom: 2px solid #f0f2f5;
  border-top: 2px solid #f0f2f5;
  padding: 15px;
  display: flex;
}
.add__comment form {
  width: 100%;
  display: flex;
}
.add__comment textarea {
  resize: none;
  border-radius: 6px;
  height: 60px;
  width: 90%;
  padding: 4px;
  font-size: 14px;
}
.add__comment input {
  background: #091f43;
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f0f2f5;
  border: none;
  cursor: pointer;
  transition: opacity, box-shadow 0.7s ease-in-out;
  background: #95282F;
  padding: 0;
  margin-top: 10px;
  max-width: 20%;
  min-width: 8rem;
}
.add__comment input:hover {
  opacity: 0.8;
}

.comment__container {
  border-bottom: 2px solid #f0f2f5;
  padding: 1rem;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
}
.comment__container .comment__info {
  display: flex;
  justify-content: space-between;
}
.comment__container .new__value {
  width: 100%;
  font-size: 14px;
  background: transparent;
  color: #f0f2f5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: top;
  cursor: pointer;
}
.comment__container .new__value:focus {
  border: 0.5px solid #f0f2f5;
  border-radius: 6px;
}
.comment__container .commenter__info {
  display: flex;
  align-items: center;
}
.comment__container .commenter__info p {
  padding-left: 15px;
}
.comment__container .commenter__info img {
  width: 4rem;
  border-radius: 30px;
}
.comment__container .trash__container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.comment__container .trash__container img {
  cursor: pointer;
  width: 1.5rem;
  padding-top: 5px;
}
.comment__container .comment__data {
  margin-top: 10px;
}
.comment__container .comment__data .comment__text {
  width: 100%;
}

.post__container {
  max-width: 900px;
  margin: 50px auto;
}
.post__container li {
  margin: 2rem 2rem 5rem 2rem;
  border-radius: 6px;
  max-width: 900px;
  min-height: 250px;
  background-color: rgba(9, 31, 67, 0.8);
  color: white;
  font-weight: bold;
  box-shadow: 0 0 13px #555;
}
.post__container .new__post {
  width: 100%;
  background: transparent;
  color: #f0f2f5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
}
.post__container .new__post:focus {
  border: 0.5px solid #f0f2f5;
  border-radius: 6px;
}
.post__container .about__post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.post__container .about__post img {
  width: 4rem;
  border-radius: 50%;
  object-fit: contain;
}
.post__container .about__post .user__id {
  font-size: 18px;
}
.post__container .about__post .trash__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 10px;
}
.post__container .about__post .trash__container img {
  margin-bottom: 5px;
  width: 1.5rem;
  cursor: pointer;
}
.post__container .info__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.post__container .info__container p {
  padding-left: 15px;
}
.post__container .content__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.post__container .content__container button {
  background: #95282F;
  color: #f0f2f5;
  width: 6rem;
  margin-top: 15px;
  border-radius: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  transition: opacity, box-shadow 0.7s ease-in-out;
}
.post__container .content__container button:hover {
  opacity: 0.8;
}
.post__container .content__container .info__text {
  margin-left: 15px;
}
.post__container .content__container .pic__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  padding: 20px;
  border-radius: 50px;
}
.post__container .content__container .pic__container img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}/*# sourceMappingURL=index.css.map */