.auth__form {
	margin: 130px auto;
	max-width: 600px;
	background: $orange;
	border-radius: $border-radius;
	display: flex;
	justify-content: center;
	flex-direction: column;
	ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 2rem;
		li {
			@include flex-center;
			@include btn-style;
		}
	}
}

form {
	@include flex-center;
	flex-direction: column;
	label {
		margin-bottom: -1rem;
        font-weight: bold;
	}
	input {
		border: none;
		height: 30px;
		width: 250px;
        outline: none;
        font-size: 16px;
        padding-left: 6px;
        border-radius: $border-radius;
        font-weight: bold;
	}
	.submit__btn {
		@include btn-style;
        padding: 0;
        @include flex-center;
		margin-top: 2rem;
        margin-bottom: 2rem;
	}
}

.btn__active {
	opacity: 0.3;
}
