header {
	width: 100%;
	background: $blue;
	position: relative;
	min-height: 128px;
	.container__img {
		@include flex-center;
		img:nth-child(1) {
			cursor: pointer;
			width: 35rem;
			margin-left: -3.5rem;
			@include header-hidden;
		}
		img:nth-child(2) {
			@include header-visible;
			width: 8rem;
		}
	}
	.disconnect {
		position: absolute;
		right: 50px;
		top: 45px;
		cursor: pointer;
		img {
			width: 2.5rem;
		}
	}
	.arrow {
		position: absolute;
		left: 50px;
		top: 45px;
		cursor: pointer;
		img {
			width: 2.5rem;
		}
	}
	.profile__preview {
		position: absolute;
		background: $orange;
		opacity: 0.7;
		border-radius: $border-radius;
		// width: 250px;
		// height: 80px;
		top: 23px;
		right: 150px;
		.preview__img {
			width: 30%;
			img {
				width: 100%;
			}
		}
		.preview__content {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70%;
			&__link {
				width: 100%;
				text-align: end;
			}
		}
	}
}
