header {
    width: 100%;
    background-color: bisque;
    .container__img  {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            
        }
    }
}